
/bin
/target
/.project
/.classpath
/.settings
/.factorypath
file:///Users/hendrik/slde/metaborg-calc.git/org.metaborg.lang.calc.interpreter/src/main/resources/signatures-digest.cache
src/main/resources/specification.aterm
src/main/resources/parsetable.tbl
src/main/resources/logback.xml
src/main/java/org/metaborg/org/metaborg/calc/interpreter/generated
src/main/java/org/metaborg/org/metaborg/calc/interpreter/generated/terms
src/main/java/org/metaborg/org/metaborg/calc/interpreter/generated/terms/build
src/main/java/org/metaborg/org/metaborg/calc/interpreter/generated/terms/match
src/test/java/org/metaborg/org/metaborg/calc/interpreter/generated/test
/Calc.launch
/TestCalc.launch
/Calc (Core).launch
/Calc (Daemon).launch
/Calc-core
/Calc-server
/Calc-client
/Calc
